* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(assets/wall.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.clock {
    position: relative;
}

@media (orientation: landscape) {
    .clock {
        width: 90vh;
        height: 90vh;
    }
}

@media (orientation: portrait) {
    .clock {
        width: 90vw;
        height: 90vw;
    }
}

.clock-face {
    height: 100%;
}

.clock-hand {
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}